{% extends 'main/base.html' %}

{% block title %}
Home page
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-5 offset-1">
            <form action="/" method="post">
                <label for="city">City</label>
                {% csrf_token %}
                {{ form.name }}
                <input type="submit" name="send" value="Submit" class="mt-2 btn btn-danger">
            </form>
        </div>
            <div class="col-4 offset-1">
                {% for info in all_info %}
                <div class="row"></div>
                    <div class="alert alert-info">
                        <div class="col-9">
                            <b>City: </b>{{info.city}}<br>
                            <b>Temperature: </b>{{info.temp}}<sup>o</sup><br>
                        </div><br>
                        <div class="col-2 offset-1">
                            <img src="http://openweathermap.org/img/w/{{info.icon}}.png" alt="Weather picture">
                        </div>
                    </div>
                {% endfor %}
            </div>
    </div>
</div>
{% endblock %}